@layer base {
  html {
    @apply scroll-py-8 scroll-smooth text-base scheme-light-dark transition-colors;
  }

  body {
    @apply bg-root text-primary font-onest min-h-dvh w-full overscroll-none leading-loose font-normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-pally leading-normal;
  }

  p {
    @apply translate-y-0.25 leading-loose;
    font-size: clamp(var(--text-sm), 0.1571vw + 0.8586rem, var(--text-base));
  }

  small {
    @apply text-secondary translate-y-0.25 text-xs leading-loose font-medium;
  }

  svg {
    width: clamp(1.4rem, 0.2857vw + 1.343rem, 1.6rem);
    height: auto;
  }

  :focus-visible {
    @apply ring-accent ring-2 outline-none;
  }
}
