@layer components {
  .heading-section {
    @apply font-bold;
    font-size: clamp(var(--text-xl), 0.2142857vw + 1.2271429rem, var(--text-2xl));
  }

  .heading-subsection {
    @apply font-semibold;
    font-size: clamp(var(--text-lg), 0.2vw + 1.09rem, var(--text-xl));
  }

  .heading-item {
    @apply font-semibold;
    font-size: clamp(var(--text-base), 0.1857vw + 0.9629rem, var(--text-lg));
  }

  .supporting-text {
    @apply text-secondary translate-y-0.25 font-medium;
    font-size: clamp(var(--text-xs), 0.1429vw + 0.7614rem, var(--text-sm));
  }

  .spacer {
    @apply lg:bg-root hidden lg:sticky lg:z-80 lg:flex lg:h-8;
  }

  .section-content {
    @apply flex flex-col gap-y-8;
  }

  .logo {
    @apply object-contain;
    width: clamp(1.4rem, 0.2857vw + 1.343rem, 1.6rem);
    height: auto;
  }

  .small-icon {
    width: clamp(0.8rem, 0.2857vw + 0.743rem, 1rem);
    height: auto;
  }
}
